.carousel {
    width: 100%;
    height: calc(100vh + 140px);
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    /* animation: carousel 36s infinite linear; */
}

.carousel-cotenido {
    position: relative;
}

.carousel-anterior,
.carousel-siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #559236;
    opacity: 50%;
    z-index: 1;
}

.carousel-anterior:hover,
.carousel-siguiente:hover {
    opacity: 100%;
}

.carousel-siguiente {
    right: 30px;
}

.carousel-anterior {
    left: 30px;
}

.carousel-indicador .glider-dots.active {
    opacity: 1;
}

@keyframes carousel {
    0%{
        background-image: url('../images/comunidad.jpg');
        transition: .1s ease-in-out;
    }
    25%{
        background-image: url('../images/iglesia.jpg');
        transition: .1s ease-in-out;
    }
    50%{
        background-image: url('../images/pastores.jpg');
        transition: .1s ease-in-out;
    }
    75%{
        background-image: url('../images/comunidad.jpg');
        transition: .1s ease-in-out;
    }
    100%{
        background-image: url('../images/pastores.jpg');
        transition: .1s ease-in-out;
    }
}