/* Verde claro: #DDF8AD
Verde medio: Verde claro: #DDF8AD
Verde medio: #559236
Verde oscuro: #0B490D
Beige: #F0F0F0
Blanco: #FFFFFF
Negro: #061706
Verde oscuro: #0B490D
Beige: #F0F0F0
Blanco: #FFFFFF
Negro: #061706 */


:root {
  /*Colores*/
  --black: #000000;
  --white: #fff;
  --soft-black: #333;
  --soft-white: #f0f0f0;
  --dark-green: #559236;
  --soft-green: #ddf8ad;
  --dark-gray: #252525;
  --gray: #808080;
  --red: #B22222;
  --whatsApp: #4dc046;
  --hover-whatsApp: #318d2c;
  --color-body: #ddd;
  --beige: #e4e2e1;
  --color-horarios: #b8b5b5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: var(--soft-black);
  background-color: var(--color-body);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* h1 {
  font-size: 70px;
  margin: 0px 0px 70px;
} */

a {
  text-decoration: none;
}

.nav-menu a {
  color: var(--soft-white);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

header.header {
  display: flex;
  font-weight: bold;
}

/* Boton de WhatsApp*/
.btn-wsp {
  background-color: var(--whatsApp);
  color: var(--white);
  border-radius: 50px;
  width: 64px;
  height: 64px;
  font-size: 50px;
  text-align: center;
  box-shadow: 0 1px 5px #212529;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 40px;
}

.btn-wsp:hover {
  background-color: var(--hover-whatsApp);
  transition: 0.5s ease-in-out;
}



.nav-main {
  position: fixed;
  top: 0;
  font-size: 1.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  z-index: 1;
  transition: all 1s ease-out;
}

div.logo {
  width: 100%;
  height: fit-content;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

#menu-btn {
  padding-right: 10px;
  font-size: 4rem;
  color: var(--white);
  cursor: pointer;

}

.icon {
  cursor: pointer;
  height: auto;
  width: 100px;
  transition: all 1s ease-out;
}

.scroll .icon {
  cursor: pointer;
  margin-right: 15px;
  height: auto;
  width: 80px;
  transition: all 1s ease-out;
}

div.logo a.iglesia {
  color: var(--soft-white);
  font-size: 1.9rem;
}


.nav-bar {
  position: relative;
  background-color: var(--dark-gray);
  width: 100%;
  z-index: -100;
  transform: translate(0, -1000px);
  transition: .5s ease all;
}

.nav-bar.show {
  transform: translate(0, 0);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu li {
  padding: 15px 0;
}

.nav-menu-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.nav-menu-right a {
  padding: 10px 15px;
  color: var(--white);
}

.btn-principal {
  background-color: var(--dark-green);
  color: var(--soft-white);
  padding: 10px 20px;
  border-radius: 20px;
}

ul.nav-menu-right i:hover {
  color: var(--dark-green);
  transition: 0.5s ease-in-out;
}


.nav-main ul.nav-menu li a:hover {
  box-shadow: inset 0 -2px 0 var(--soft-green);
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.image {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 150vh;
  width: 100%;
}
/* Home de la pagina*/

/* Carousel */

.carousel {
  margin-top: 105px;
  width: 100%;
  height: fit-content;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
}

.carousel-cotenido {
  height: 100%;
}

.carousel-lista{
  height: 100%;
  overflow: hidden;
}

.carousel-elemento {
  width: 100%;
}

.carousel-elemento img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-anterior,
.carousel-siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  font-size: 2.8rem;
  line-height: 30px;
  text-align: center;
  background: none;
  color: var(--soft-green);
  opacity: 50%;
  z-index: 1;
  display: none;
}

.carousel-anterior:hover,
.carousel-siguiente:hover {
  opacity: 100%;
}

.carousel-siguiente {
  right: 30px;
}

.carousel-anterior {
  left: 30px;
}

.carousel-indicador .glider-dots.active {
  opacity: 1;
}

/*Marco Filosofico*/

.community-section {
  padding: 50px 0 30px;
  background-image: url('../backgrounds/background1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.community-container {
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.community {
  min-width: 288px;
  max-width: 800px;
  height: fit-content;
}

.community h1{
  font-size: 4rem;
  line-height: 4.2rem;
  text-align: center;
}

.community span {
  color: var(--dark-green);
}

.community p {
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: .5px;
  padding: 10px;
}

.mision-vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 850px;
  margin-top: 5px;
}

.mision,
.vision {
  width: 100%;
  min-width: 288px;
  max-width: 400px;
  text-align: center;
  padding: 10px;
}

.mision h2,
.vision h2 {
  font-size: 3.5rem;
  line-height: 3.7rem;
}

.mision p,
.vision p {
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: .5px;
}




.text-center p {
  min-width: 320px;
  max-width: 400px;
  text-align: justify;
  padding: 5px 10px;
}



/*Shepherds Section*/

.section-shepherds {
  background: var(--dark-gray);
}

.shepherds {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, auto);
}

.name-shepherds {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.name-shepherds h2{
  margin: 20px 0 10px;
  font-size: 3.5rem;
  line-height: 3.8rem;
  text-align: center;
  color: var(--white);
}

.shepherds-photo {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
  height: 50vh;
  max-height: 500px;
  background-image: url('../images/pastores1.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.shepherds-description {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.shepherds-description h4 {
  color: var(--dark-green);
  padding: 10px 0 0 10px;
  font-size: 2.6rem;
  font-style: italic;
}

.shepherds-description p {
  width: 100%;
  min-width: 288px;
  max-width: 450px;
  padding: 0 10px 10px;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: lighter;
  text-align: left;
  color: var(--white);
}

/*Seccion de valores*/
.valores-section {
  padding: 40px 0;
  background-image: url('../images/horarios-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.valores-title h2 {
  font-size: 4rem;
  text-align: center;
}

.list-valores {
  width: 90%;
  max-width: 1200px;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.valor-item {
  display: grid;
  padding: 0 10px;
  margin: 10px 0;
  width: 200px;
  min-width: 100px;
  max-width: 160px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.valor-item i {
  font-size: 5rem;
  color: var(--dark-green);
}

.valor-item h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

.valor-item p {
  font-size: 1.5rem;
  color: var(--gray);
}

/*Seccion de ministerios*/
.ministerios--section {
  padding: 50px 0;
  /* background-image: url('../images/horarios-background.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ministerios--title h2{
  margin-bottom: 15px;
  font-size: 4rem;
  line-height: 4.3rem;
  text-align: center;
}

.ministerios-container {
  position: relative;
  height: auto;
  padding-bottom: 10px;
}

.ministerios-prev,
.ministerios-next{
  position: absolute;
  top: 33%;
  background: none;
  border: none;
  font-size: 3rem;
  line-height: 2.2rem;
  font-weight: bold;
  color: var(--soft-black);
  transition: .2s all;
}

.ministerios-prev:hover,
.ministerios-next:hover {
  color: var(--dark-green);
}

.ministerios-prev {
  left: 4%;
}

.ministerios-next {
  right: 4%;
}

.ministerios-container-list{
  padding-bottom: 10px;
}

.ministerios-container-list {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: var(--gray);
  opacity: .5;
  border-radius: 0;
}

.glider-dot:hover {
  opacity: .2;
  background: var(--dark-green);
}

.glider-dot.active {
  opacity: 1;
  background: var(--dark-green);
}

.ministerio-card {
  position: relative;
  width: 100%;
  min-width: 250px;
  height: auto;
  margin: 0 3px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.137);
}

.ministerio-card--image{
  width: 100%;
  height: 100%;
}

.ministerio-card--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(95%);
  transition: .10s all;
}

.ministerio-card--content {
  width: 100%;
  display: grid;
  position: absolute;
  background-color: var(--soft-white);
  bottom: 0;
}

.ministerio-card--label {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%, 0);
  font-size: 4rem;
  cursor: pointer;
  color: var(--soft-green);
  opacity: 0.7;
  transition: .3s;
}

.ministerio-card--label:hover {
  opacity: 1;
  color: var(--white);
}

.ministerio-card--content span {
  color: var(--dark-green);
}

.ministerio-card--content h3 {
  margin-top: 10px;
  padding: 0 10px 14px;
  text-align: center;
  font-size: 2.4rem;
}

.ministerio-card--input {
  display: none;
}

.ministerio-card--description {
  max-height: 0;
  overflow: hidden;
  transition: .6s ease-in-out;
}

.ministerio-card--description p {
  padding: 0 15px 20px;
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--soft-black);
}

/*Acciones del hover en las tarjetas*/

.ministerio-card:hover  .ministerio-card--description {
  max-height: 300px;
}

.ministerio-card:hover  .ministerio-card--image img{
  filter: brightness(50%);
}


/* Horarios */

.horarios {
  padding-bottom: 40px;
  background-image: url('../images/horarios-background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.horarios-title {
  margin-top: 40px;
}

.horarios-title h2 {
  font-size: 4rem;
  line-height: 4.2rem;
  text-align: center;
  /* color: var(--soft-white); */
}

.horarios-title p{
  font-size: 2rem;
  line-height: 2.2rem;
  font-style: italic;
  text-align: center;
  /* color: var(--beige); */
}

.horarios-title p > span {
  color: var(--dark-green);
}

.horarios-list {
  display: flex;
  height: fit-content;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}

.card{
  position: relative;
  width: 300px;
  height: 280px;
  place-items: center;
  margin: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-title {
  position: relative;
  z-index: -100;
  background-image: url('../images/serviviosTitle-background.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.card p {
  font-size: 1.4rem;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  border-radius: 5px;
  backface-visibility: hidden;
  transition: 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  align-content: space-evenly;
  justify-items: center;
}

.servicio-miercoles {
  background-image: url('../images/eventos-background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.servicio-sabado {
  background-image: url('../images/eventos-background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.servicio-domingo {
  background-image: url('../images/eventos-background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.front img {
  height: 180px;
  object-fit: cover;
  object-position: center;
}

.front h2{
  margin-top: 18px;
  font-size: 2rem;
  text-align: center;
}

.front p {
  margin-bottom: 20px;
}

.card .front{
  transform: perspective(500px) rotateX(0deg);
  padding: 30px 5px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.16);
}

.card .back{
  padding: 10px;
  background: var(--beige);
  transform: perspective(500px) rotateX(180deg);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.16);
}

.card:hover .front{
  transform: perspective(500px) rotateX(180deg);
}

.card:hover .back{
  transform: perspective(500px) rotateX(360deg);
}

/*Seccion de eventos*/
.eventos-section {
  height: auto;
  padding-bottom: 50px;
  background-image: url('../images/eventos-background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.eventos-title {
  padding-top: 20px;
  text-align: center;
}

.eventos-title h2 {
  font-size: 4rem;
  line-height: 4.2rem;
  margin-bottom: 8px;
  color: var(--dark-green);
}

.eventos-title p {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: var(--white);
}

.eventos-container {
  width: 100%;
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.evento {
  width: 100%;
  min-width: 288px;
  max-width: 400px;
  height: auto;
  margin: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.16);
}

.evento-top {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--soft-black);
}

.evento--fecha {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-left: 10px;
  padding: 2px 8px;
  background-color: var(--dark-gray);
  border-radius: 5px;
}

.evento--mes p {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: normal;
  text-align: center;
  color: var(--white);
}

.evento--dia p {
  font-size: 5.5rem;
  line-height: 5.7rem;
  font-weight: bold;
  color: var(--dark-green);
}

.evento--hora {
  font-size: 1.4rem;
  line-height: 1.6rem;
  height: fit-content;
  padding: 3px 5px;
  margin-top: 1px;
  margin-right: 10px;
  color: var(--soft-white);
  background-color: var(--dark-green);
  border-radius: 5px;
}

.evento-content {
  padding: 10px;
  background-color: var(--color-body);
}

.evento--title{
  width: 80%;
  overflow-wrap: break-word;
}

.evento--title h3 {
  font-size: 2.3rem;
  line-height: 2.5rem;
}

.evento--description p{
  font-size: 1.3rem;
  text-align: justify;
}

/* Nosotros */

.titlegreen {
  color: var(--dark-green);
}

.creemos {
  padding: 0 20px;
  min-width: 288px;
  max-width: 700px;
}

#nosotros {
  width: 100%;
  display: flex;
  padding: 20px 10px;
  padding-top: 90px;
  flex-wrap: wrap;
  justify-content: center;
  /* background-image: url('../images/horarios-background.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.nosotrosimage {
  align-items: center;
  display: flex;
}

.nosotrosimage picture img {
  width: 36vmax;
  height: 36vmax;
  max-width: 570px;
  max-height: 545px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
}

#nosotros h2 {
  font-size: 5rem;
  font-family: 'Grape Nuts', cursive;
  font-weight: bolder;
  padding: 15px 0;
  text-align: center;
}

.creemos ul {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: stretch;
  font-size: 1.6rem;
  font-weight: lighter;
  padding: 10px 0% 8%;
  color: var(--azuloscuro);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.creemos ul li {
  padding: 10px;
}


/* 


/* #nosotros ul {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: stretch;
  font-size: 1.6rem;
  font-weight: lighter;
  padding: 10px 0% 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.creemos ul li {
  padding: 10px;
}

#nosotros ul li i {
  color: var(--dark-green);
}  */

/* Formulario de contacto */

.contact-section {
  padding-bottom: 30px;
}

.contact-title {
  display: grid;
  width: 100%;
  min-width: 320px;
  padding: 30px 0;
  justify-content: center;
  text-align: center;
  background-color: var(--soft-black);
  /* background-image: url('../images/contacto-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

.contact-title h2 {
  font-size: 3.2rem;
  line-height: 3.4rem;
  color: var(--white);
}

.contact-title h2 > span {
  color: var(--dark-green);
}

.contact-title p {
  min-width: 288px;
  max-width: 350px;
  margin-top: 5px;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--soft-white);
}

.form-container {
  padding: 0 15px;
  padding-top: 20px;
}

/*Estilos del formulario*/
.contact-form  {
  display: grid;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  min-width: 288px;
  max-width: 900px;
}

.form-group {
  width: 100%;
  margin-top: 15px;
}

.form-label {
  display: block;
  font-size: 2rem;
  line-height: 2.2rem;
  padding: 0 0 2px 5px;
  font-weight: bold;
  cursor: pointer;
  color: var(--dark-gray);
}

.form-group--input {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 0 40px 0 10px;
  height: 45px;
  font-family: 'DM Sans';
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: var(--dark-gray);
  border: 3px solid transparent;
  border-radius: 3px;
  background-color: var(--white);
  transition: .3s ease all;
}

.form-input:hover,
.form-textarea:hover {
  box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.212);
}

.form-input:focus,
.form-textarea:focus {
  border: 2px solid var(--gray);
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.178);
}

.form-state-validation {
  position: absolute;
  right: 12px;
  top: 14px;
  z-index: 0;
  font-size: 1.6rem;
  opacity: 0;
}

.form-group--error,
.form-group--success {
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2px 3px 0px 5px;
  font-weight: lighter;
}


.form-group--error--active,
.form-group--success--active {
  display: block;
}

.form-group--error--active {
  color: var(--red);
}

.form-group--error.show,
.form-group--success.show {
  display: block;
}

.form-textarea {
  width: 100%;
  padding: 10px;
  font-family: 'DM Sans';
  font-size: 1.5rem;
  line-height: 1.7rem;
  border-radius: 3px;
  border: 3px solid transparent;
  background-color: var(--white);
  resize: none;
  transition: .1s ease all;
  outline: none;
}

.form-message {
  display: none;
  width: fit-content;
  padding: 5px;
  margin: 2px auto;
  border-radius: 3px;
}

.form-message--correct-active {
  background-color: var(--dark-green);
  display: block;
}

.form-message--incorrect-active {
  background-color: var(--red);
  display: block;
}

.form-message p{
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: var(--white);
}

.form-group--submit {
  display: grid;
  justify-content: center;
}

.form-btn {
  min-width: 285px;
  max-width: 320px;
  margin: 5px auto;
  height: 45px;
  font-size: 1.8rem;
	line-height: 2rem;
  font-weight: bold;
	background: var(--dark-gray);
	color: var(--white);
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .4s ease all;
}

.form-btn:hover {
  border: 1px solid var(--gray);
  box-shadow: 5px 5px 20px rgba(61, 61, 61, 0.555);
}


/*Validacion de campos*/

.form-group--correct .form-state-validation {
  color: var(--dark-green);
  opacity: 1;
}

.form-group--correct .form-input {
  border: 2px solid var(--dark-green);
}

.form-group--incorrect .form-state-validation {
  color: var(--red);
  opacity: 1;
}

.form-group--incorrect .form-input {
  border: 2px solid var(--red);
}

.form-group--textarea-correct .form-textarea {
  border: 2px solid var(--dark-green);
}

.form-group--textarea-incorrect .form-textarea {
  border: 2px solid var(--red);
}

/* footer */

footer {
  background-color: var(--black);
  width: 100%;
  color: var(--color-body);
}

.container-footer-all {
  width: 100%;
  margin: auto;
}

.footer-logo {
  padding: 10px 0;
  display: flex;
  max-width: 400px;
  min-width: 200px;
  width: 100%;
  justify-content: center;
}

.footer-start {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.redes-sociales {
  padding: 10px 0;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.info {
  padding: 10px 0;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.row {
  padding: 5px 0px;
  font-size: 1.2rem;
  text-align: justify;

}
.info h2 {
  font-size: 2rem;
}

.redes-sociales h2 {
  font-size: 2rem;
}

.row a {
  color: var(--color-body);
}

.row a:hover {
  color:  var(--soft-green);
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.footer-end {
  border-top: 1px solid #ddd6;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.rights p {
  font-size: 1.3rem;
  text-align: center;
}



