/* Verde claro: #DDF8AD
Verde medio: Verde claro: #DDF8AD
Verde medio: #559236
Verde oscuro: #0B490D
Beige: #F0F0F0
Blanco: #FFFFFF
Negro: #061706
Verde oscuro: #0B490D
Beige: #F0F0F0
Blanco: #FFFFFF
Negro: #061706 */


:root {
  /*Colores*/
  --black: #000000;
  --white: #fff;
  --soft-black: #333;
  --soft-white: #f0f0f0;
  --dark-green: #559236;
  --soft-green: #ddf8ad;
  --dark-gray: #252525;
  --gray: #808080;
  --whatsApp: #4dc046;
  --hover-whatsApp: #318d2c;
  --color-body: #ddd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  min-height: 100vh;
  color: var(--soft-black);
  background-color: var(--color-body);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* h1 {
  font-size: 70px;
  margin: 0px 0px 70px;
} */

a {
  text-decoration: none;
}

.nav-menu a {
  color: var(--soft-white);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

header.header {
  display: flex;
  font-weight: bold;
}

/* Boton de WhatsApp*/
.btn-wsp {
  background-color: var(--whatsApp);
  color: var(--white);
  border-radius: 50px;
  width: 64px;
  height: 64px;
  font-size: 50px;
  text-align: center;
  box-shadow: 0 1px 5px #212529;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 40px;
}

.btn-wsp:hover {
  background-color: var(--hover-whatsApp);
  transition: 0.5s ease-in-out;
}



.nav-main {
  position: fixed;
  /* display: flex; */
  font-size: 1.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  z-index: 1;
  transition: all 1s ease-out;
}

div.logo {
  width: 100%;
  height: fit-content;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

#menu-btn {
  padding-right: 10px;
  font-size: 4rem;
  color: var(--white);
  cursor: pointer;

}

.icon {
  cursor: pointer;
  height: auto;
  width: 100px;
  transition: all 1s ease-out;
}

.scroll .icon {
  cursor: pointer;
  margin-right: 15px;
  height: auto;
  width: 80px;
  transition: all 1s ease-out;
}

div.logo a.iglesia {
  color: var(--soft-white);
  font-size: 1.9rem;
}


.nav-bar {
  position: relative;
  background-color: var(--dark-gray);
  width: 100%;
  z-index: -100;
  transform: translate(0, -1000px);
  transition: .5s ease all;
}

.nav-bar.show {
  transform: translate(0, 0);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu li {
  padding: 15px 0;
}

.nav-menu-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.nav-menu-right a {
  padding: 10px 15px;
  color: var(--white);
}

.btn-principal {
  background-color: var(--dark-green);
  color: var(--soft-white);
  padding: 10px 20px;
  border-radius: 20px;
}

ul.nav-menu-right i:hover {
  color: var(--dark-green);
  transition: 0.5s ease-in-out;
}


.nav-main ul.nav-menu li a:hover {
  box-shadow: inset 0 -2px 0 var(--soft-green);
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.image {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 150vh;
  width: 100%;
}
/* Home de la pagina*/

/* Carousel */

.carousel {
  margin-top: 105px;
  width: 100%;
  height: fit-content;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
}

.carousel-cotenido {
  height: 100%;
}

.carousel-lista{
  height: 100%;
  overflow: hidden;
}

.carousel-elemento {
  width: 100%;
}

.carousel-elemento img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-anterior,
.carousel-siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  font-size: 2.8rem;
  line-height: 30px;
  text-align: center;
  background: none;
  color: var(--soft-green);
  opacity: 50%;
  z-index: 1;
  display: none;
}

.carousel-anterior:hover,
.carousel-siguiente:hover {
  opacity: 100%;
}

.carousel-siguiente {
  right: 30px;
}

.carousel-anterior {
  left: 30px;
}

.carousel-indicador .glider-dots.active {
  opacity: 1;
}

/*Marco Filosofico*/

.image-center {
  margin-top: 50px;
  height: auto;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 4rem;
  text-align: center;
}

.text-center {
  max-width: 900px;
  text-align: center;
  font-size: 1.2rem;
}


.text-center p {
  min-width: 320px;
  max-width: 400px;
  text-align: justify;
  padding: 0 10px;
}


.mision-vision {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin-top: 30px;
}


.list-valores {
  width: 90%;
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.titlegreen {
  color: var(--dark-green);
}

.valor-item {
  display: grid;
  padding: 10px 20px;
  margin: 10px 0;
  width: 20%;
  min-width: 100px;
  max-width: 130px;
  align-items: center;
  color: var(--dark-green);
  font-size: 1.2rem;
  border: 2px solid var(--dark-green);
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.valor-item:hover {
  background-color: var(--dark-green);
  color: var(--white);
  transform: scale(1.2);
  transition: all 0.2s;
}

/*Shepherds Section*/

.section-shepherds {
  background: var(--dark-gray);
}

.shepherds {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, auto);
}

.name-shepherds {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.name-shepherds h2{
  margin: 20px 0 10px;
  font-size: 3.5rem;
  line-height: 3.8rem;
  text-align: center;
  color: var(--white);
}

.shepherds-photo {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
  height: 50vh;
  max-height: 500px;
  background-image: url('../images/pastores.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.shepherds-description {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.shepherds-description h4 {
  color: var(--dark-green);
  padding: 10px 0 0 10px;
  font-size: 2.5rem;
  font-style: italic;
}

.shepherds-description p {
  width: 100%;
  min-width: 288px;
  max-width: 450px;
  padding: 0 10px 10px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: lighter;
  text-align: left;
  color: var(--white);
}

/*Seccion de ministerios*/

.ministerios--title h2{
  margin: 30px 0 15px 22px;
  text-align: left;
  font-size: 4rem;
  line-height: 4.3rem;
  text-align: center;
}

.ministerios-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: auto;
  flex-wrap: wrap;
  padding: 0 25px;
  padding-bottom: 50px;
}

.ministerio-card {
  position: relative;
  width: 100%;
  min-width: 288px;
  max-width: 400px;
  height: 280px;
  margin: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.301);
}

.ministerio-card--image{
  width: 100%;
  height: 100%;
}

.ministerio-card--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(95%);
  transition: .10s all;
}

.ministerio-card--content {
  display: grid;
  position: absolute;
  background-color: var(--soft-white);
  bottom: 0;
}

.ministerio-card--label {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%, 0);  
  font-size: 4rem;
  cursor: pointer;
  color: var(--soft-green);
  opacity: 0.7;
  transition: .3s;
}

.ministerio-card--label:hover {
  opacity: 1;
  color: var(--white);
}

.ministerio-card--content span {
  color: var(--dark-green);
}

.ministerio-card--content h3 {
  margin-top: 10px;
  padding: 0 10px 14px;
  text-align: center;
  font-size: 2.4rem;
}

.ministerio-card--input {
  display: none;
}

.ministerio-card--description {
  max-height: 0;
  overflow: hidden;
  transition: .6s ease-in-out;
}

.ministerio-card--description p {
  padding: 0 15px 20px;
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--soft-black);
}

/*Acciones del hover en las tarjetas*/

.ministerio-card:hover  .ministerio-card--description {
  max-height: 300px;
}

.ministerio-card:hover  .ministerio-card--image img{
  filter: brightness(50%);
}


/* Horarios */

.horarios {
  background: #ddd;
  padding: 5%;
}

.text-center-visitanos {
  font-size: 40px;
  text-align: center;
}

.text-center-servicio {
  font-size: 50px;
  text-align: center;
}

.horarios-list {
  display: flex;
  justify-content: center;
  padding: 4%;
}

.card{
  position: relative;
  width: 300px;
  height: 280px;
  display: grid;
  place-items: center;
  border-radius: 20px;
  margin: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  border-radius: 20px;
  backface-visibility: hidden;
  transition: 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  align-content: space-evenly;
  justify-items: center;
}

.front img {
  border-radius: 50%;
    width: 120px;
    height: 120px;
}

.card .front{
  background: rgba(255, 255, 255, 0.109);
  transform: perspective(500px) rotateX(0deg);
  padding: 10px;
}

.card .back{
  background: rgba(255, 255, 255, 0.109);
  transform: perspective(500px) rotateX(180deg);
  padding: 10px;
}

.card:hover .front{
  transform: perspective(500px) rotateX(180deg);
}

.card:hover .back{
  transform: perspective(500px) rotateX(360deg);
}

/*Seccion de eventos*/
.eventos-section {
  height: auto;
  padding-bottom: 50px;
}

.eventos-title {
  text-align: center;
}

.eventos-title h2 {
  font-size: 2.8rem;
  line-height: 3rem;
  margin-bottom: 8px;
}

.eventos-title p {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.eventos-container {
  width: 100%;
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
}

.evento {
  width: 100%;
  min-width: 288px;
  max-width: 400px;
  height: auto;
  margin: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.16);
}

.evento-top {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--soft-black);
}

.evento--fecha {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-left: 10px;
  padding: 2px 8px;
  background-color: var(--dark-gray);
  border-radius: 5px;
}

.evento--mes p {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: normal;
  text-align: center;
  color: var(--white);
}

.evento--dia p {
  font-size: 5.5rem;
  line-height: 5.7rem;
  font-weight: bold;
  color: var(--dark-green);
}

.evento--hora {
  font-size: 1.4rem;
  line-height: 1.6rem;
  height: fit-content;
  padding: 3px 5px;
  margin-top: 1px;
  margin-right: 10px;
  color: var(--soft-white);
  background-color: var(--dark-green);
  border-radius: 5px;
}

.evento-content {
  padding: 10px;
}

.evento--title{
  width: 80%;
  overflow-wrap: break-word;
}

.evento--title h3 {
  font-size: 2.3rem;
  line-height: 2.5rem;
}

.evento--description p{
  font-size: 1.2rem;
  text-align: justify;
}

#nosotros {
  height: 110vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  padding: 2%;
}

#nosotros picture {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 6% 6% 6% 12%;
}

#nosotros picture img {
  width: 42vmax;
  height: 40vmax;
  object-fit: cover;
  border-radius: 50%;
}

#nosotros h2 {
  font-size: 4rem;
  align-self: start;
  text-align: center;
  padding: 3% 5% 0% 5%;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-family: "Kristi", cursive;
  color: var(--azuloscuro);
  font-weight: normal;
}

/* Nosotros */

#nosotros ul {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  align-self: stretch;
  font-size: 1.65rem;
  font-weight: lighter;
  padding: 0% 8%;
  color: var(--azuloscuro);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nosotros ul li {
  padding: 5%;
  width: 100%;
}

#nosotros ul li i {
  color: var(--dark-green);
}

/* footer */

footer {
  background-color: var(--black);
  width: 100%;
  color: var(--color-body);
}

.container-footer-all {
  width: 100%;
  margin: auto;
}

.footer-logo {
  padding: 10px 0;
  display: flex;
  max-width: 400px;
}

.footer-start {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.redes-sociales {
  max-width: 400px;
}

.info {
  max-width: 400px;
}



