.shepherds {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.shepherds-photo {
  grid-row: 1 / 3;
  height: 80vh;
}

.name-shepherds,
.shepherds-description {
  grid-column: 2 / 3;
}

.name-shepherds {
  grid-row: 1 / 2;
  align-self: end;
}

.name-shepherds h2 {
  margin: 0;
  text-align: left;
  padding-left: 10px;
}

.shepherds-description {
  grid-row: 2 / 3;
}

.shepherds-description h4 {
    padding-top: 0;
}
